In [68]:
import numpy as np
import pandas as pd
data = {
    '2015': [9904312, 3448737, 2890451, 2466052],
    '2010': [9631482, 3393191, 2632035, 2431774],
    '2005': [9762546, 3512547, 2517680, 2456016],
    '2000': [9853972, 3655437, 2466338, 2473990],
    '지역': ['수도권', '경상권', '수도권', '경상권'],
    '2010-2015 증가율': [0.0283, 0.0163, 0.0982, 0.0141]
}
columns = ['지역', '2015', '2010', '2005', '2000', '2010-2015 증가율']
index = ['서울', '부산', '인천', '대구']
df = pd.DataFrame(data, index=index, columns=columns)
df
'''
data = np.arange(24).reshape(4,6)
df = pd.DataFrame(data, index=index, columns=columns)
print(df)
'''
df.지역.values
df.columns
df['2015'].values
df.index.name = '도시'
df.columns.name = '특성'
df
# 전치
df.T
# 열 데이터 갱신, 추가, 삭제
df['2010-2015 증가율'] = df['2010-2015 증가율'] * 100
df
df['2020'] = [1, 2, 3, 4]
del df['2020']
df
# 열 인덱싱
df['지역'] # 결과는 Series
df[['지역', '2015']] # 추출시에 리스트형태로 추출하면, dataframe으로 결과값이 출력됨.
df[['지역']]
# 행 인덱싱 / 행은 인덱싱을 하기위해서 슬라이싱이 필수
df[:'서울']
df[1:2]
df['부산':'대구']
df.head(3)
# 개별 데이터 인덱싱 df['열이름']['행이름']
df['2015']['서울'], df['2015'][0]

data2 = {
    '국어' : [80, 90, 70, 30],
    '영어' : [90, 70, 60, 40],
    '수학' : [90, 60, 80, 70]
}
columns2 = ['국어', '영어', '수학']
index2 = ['춘향', '몽룡', '향단', '방자']
df2 = pd.DataFrame(data2, index = index2, columns = columns2)
df2['수학'], df2[['국어','영어']]
df2['영어']['방자'] = 80
df2['평균'] = np.mean(df2.values, axis = 1).round(1)
df2
df2.T[['춘향']], df2[:'춘향']
df2.T['향단']
df2.head(3).tail(2)

    국어  영어  수학    평균
몽룡  90  70  60  73.3
향단  70  60  80  70.0